<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>camminaAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>cameraman_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>01,02</string>
	</dict>
	<key>indietreggiaAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>cameraman_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>04,03</string>
	</dict>
	<key>preColpitoAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>cameraman_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>07</string>
	</dict>
	<key>colpitoPugnoAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>cameraman_</string>
		<key>delay</key>
		<real>0.08</real>
		<key>animationFrames</key>
		<string>05</string>
	</dict>
	<key>colpitoCalcioAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>cameraman_</string>
		<key>delay</key>
		<real>0.08</real>
		<key>animationFrames</key>
		<string>06</string>
	</dict>
	<key>minacciatoAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>cameraman_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>03</string>
	</dict>
	<key>camminaFeritoAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>cameraman_ferito_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>01,02</string>
	</dict>
	<key>indietreggiaFeritoAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>cameraman_ferito_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>04,03</string>
	</dict>
	<key>preColpitoFeritoAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>cameraman_ferito_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>07</string>
	</dict>
	<key>colpitoPugnoFeritoAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>cameraman_ferito_</string>
		<key>delay</key>
		<real>0.08</real>
		<key>animationFrames</key>
		<string>05</string>
	</dict>
	<key>colpitoCalcioFeritoAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>cameraman_ferito_</string>
		<key>delay</key>
		<real>0.08</real>
		<key>animationFrames</key>
		<string>06</string>
	</dict>
	<key>minacciatoFeritoAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>cameraman_ferito_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>03</string>
	</dict>
</dict>
</plist>
