<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>camminaAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>iena_</string>
		<key>delay</key>
		<real>0.18</real>
		<key>animationFrames</key>
		<string>03,06</string>
	</dict>
	<key>indietreggiaAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>iena_</string>
		<key>delay</key>
		<real>0.18</real>
		<key>animationFrames</key>
		<string>04,05</string>
	</dict>
	<key>preColpitaAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>iena_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>07</string>
	</dict>
	<key>colpitaPugnoAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>iena_</string>
		<key>delay</key>
		<real>0.08</real>
		<key>animationFrames</key>
		<string>01</string>
	</dict>
	<key>colpitaCalcioAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>iena_</string>
		<key>delay</key>
		<real>0.08</real>
		<key>animationFrames</key>
		<string>02</string>
	</dict>
	<key>minacciataAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>iena_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>05</string>
	</dict>
	<key>camminaFeritaAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>iena_ferita_</string>
		<key>delay</key>
		<real>0.18</real>
		<key>animationFrames</key>
		<string>03,06</string>
	</dict>
	<key>indietreggiaFeritaAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>iena_ferita_</string>
		<key>delay</key>
		<real>0.18</real>
		<key>animationFrames</key>
		<string>04,05</string>
	</dict>
	<key>preColpitaFeritaAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>iena_ferita_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>07</string>
	</dict>
	<key>colpitaPugnoFeritaAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>iena_ferita_</string>
		<key>delay</key>
		<real>0.08</real>
		<key>animationFrames</key>
		<string>01</string>
	</dict>
	<key>colpitaCalcioFeritaAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>iena_ferita_</string>
		<key>delay</key>
		<real>0.08</real>
		<key>animationFrames</key>
		<string>02</string>
	</dict>
	<key>minacciataFeritaAnimation</key>
	<dict>
		<key>filenamePrefix</key>
		<string>iena_ferita_</string>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>05</string>
	</dict>
</dict>
</plist>
