<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>barbareschi_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {120, 173}}</string>
			<key>spriteOffset</key>
			<string>{7, -0}</string>
			<key>spriteSize</key>
			<string>{120, 173}</string>
			<key>spriteSourceSize</key>
			<string>{134, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {120, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>barbareschi_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 0}, {96, 173}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{96, 173}</string>
			<key>spriteSourceSize</key>
			<string>{134, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 0}, {96, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>barbareschi_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 0}, {82, 173}}</string>
			<key>spriteOffset</key>
			<string>{-7, -0}</string>
			<key>spriteSize</key>
			<string>{82, 173}</string>
			<key>spriteSourceSize</key>
			<string>{134, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 0}, {82, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>barbareschi_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 0}, {60, 173}}</string>
			<key>spriteOffset</key>
			<string>{-16, -0}</string>
			<key>spriteSize</key>
			<string>{60, 173}</string>
			<key>spriteSourceSize</key>
			<string>{134, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 0}, {60, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>barbareschi_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {132, 173}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{132, 173}</string>
			<key>spriteSourceSize</key>
			<string>{134, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{393, 0}, {132, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>barbareschi_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 173}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{132, 173}</string>
			<key>spriteSourceSize</key>
			<string>{134, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{530, 0}, {132, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 166}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{103, 166}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{665, 0}, {103, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 166}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{103, 166}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{777, 0}, {103, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {107, 166}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{107, 166}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{884, 0}, {107, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {109, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{109, 166}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 183}, {109, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {87, 164}}</string>
			<key>spriteOffset</key>
			<string>{-10, -1}</string>
			<key>spriteSize</key>
			<string>{87, 164}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 186}, {87, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {87, 166}}</string>
			<key>spriteOffset</key>
			<string>{-10, -0}</string>
			<key>spriteSize</key>
			<string>{87, 166}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 187}, {87, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {65, 166}}</string>
			<key>spriteOffset</key>
			<string>{-19, -0}</string>
			<key>spriteSize</key>
			<string>{65, 166}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 184}, {65, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 166}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{103, 166}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 185}, {103, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 166}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{103, 166}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{499, 194}, {103, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {107, 166}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{107, 166}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{615, 194}, {107, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {109, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{109, 166}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{728, 191}, {109, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {87, 164}}</string>
			<key>spriteOffset</key>
			<string>{-10, -1}</string>
			<key>spriteSize</key>
			<string>{87, 164}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{850, 194}, {87, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {87, 166}}</string>
			<key>spriteOffset</key>
			<string>{-10, -0}</string>
			<key>spriteSize</key>
			<string>{87, 166}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 373}, {87, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {65, 166}}</string>
			<key>spriteOffset</key>
			<string>{-19, -0}</string>
			<key>spriteSize</key>
			<string>{65, 166}</string>
			<key>spriteSourceSize</key>
			<string>{109, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{91, 371}, {65, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {121, 169}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{121, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 369}, {121, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {111, 169}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{111, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 368}, {111, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 367}, {123, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 366}, {123, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{671, 366}, {123, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{804, 372}, {123, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 558}, {123, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {121, 169}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{121, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 557}, {121, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {111, 169}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{111, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{263, 559}, {111, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 561}, {123, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 562}, {123, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{649, 563}, {123, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{781, 563}, {123, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 169}</string>
			<key>spriteSourceSize</key>
			<string>{123, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 747}, {123, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lifebar.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2, 30}</string>
			<key>spriteSourceSize</key>
			<string>{2, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 761}, {2, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nuvola_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 50}</string>
			<key>spriteSourceSize</key>
			<string>{140, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 855}, {140, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nuvola_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 35}</string>
			<key>spriteSourceSize</key>
			<string>{80, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 802}, {80, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nuvola_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 22}</string>
			<key>spriteSourceSize</key>
			<string>{58, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 759}, {58, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>GameplaySprite</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>GameplaySprite_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>GameplaySprite_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>