<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>barbareschi_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 0}, {197, 286}}</string>
			<key>spriteOffset</key>
			<string>{12, -0}</string>
			<key>spriteSize</key>
			<string>{197, 286}</string>
			<key>spriteSourceSize</key>
			<string>{221, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {199, 288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>barbareschi_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 0}, {157, 286}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{157, 286}</string>
			<key>spriteSourceSize</key>
			<string>{221, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 0}, {159, 288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>barbareschi_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 0}, {135, 286}}</string>
			<key>spriteOffset</key>
			<string>{-11, -0}</string>
			<key>spriteSize</key>
			<string>{135, 286}</string>
			<key>spriteSourceSize</key>
			<string>{221, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 0}, {137, 288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>barbareschi_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 0}, {97, 286}}</string>
			<key>spriteOffset</key>
			<string>{-26, -0}</string>
			<key>spriteSize</key>
			<string>{97, 286}</string>
			<key>spriteSourceSize</key>
			<string>{221, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{510, 0}, {99, 288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>barbareschi_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {215, 284}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{215, 284}</string>
			<key>spriteSourceSize</key>
			<string>{221, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 4}, {217, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>barbareschi_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {215, 284}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{215, 284}</string>
			<key>spriteSourceSize</key>
			<string>{221, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 314}, {217, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 272}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{168, 272}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 326}, {170, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 272}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{168, 272}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 326}, {170, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {174, 272}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{174, 272}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{566, 326}, {176, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {178, 272}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{178, 272}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{743, 326}, {180, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {140, 266}}</string>
			<key>spriteOffset</key>
			<string>{-17, -3}</string>
			<key>spriteSize</key>
			<string>{140, 266}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{7, 620}, {142, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {140, 272}}</string>
			<key>spriteOffset</key>
			<string>{-17, -0}</string>
			<key>spriteSize</key>
			<string>{140, 272}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 613}, {142, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {136, 272}}</string>
			<key>spriteOffset</key>
			<string>{-16, -0}</string>
			<key>spriteSize</key>
			<string>{136, 272}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299, 614}, {138, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 272}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{168, 272}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 614}, {170, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 272}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{168, 272}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{618, 614}, {170, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {174, 272}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{174, 272}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{791, 614}, {176, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {178, 272}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{178, 272}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 894}, {180, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {140, 266}}</string>
			<key>spriteOffset</key>
			<string>{-17, -3}</string>
			<key>spriteSize</key>
			<string>{140, 266}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 900}, {142, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {140, 272}}</string>
			<key>spriteOffset</key>
			<string>{-17, -0}</string>
			<key>spriteSize</key>
			<string>{140, 272}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{345, 894}, {142, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cameraman_ferito_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {136, 272}}</string>
			<key>spriteOffset</key>
			<string>{-16, -0}</string>
			<key>spriteSize</key>
			<string>{136, 272}</string>
			<key>spriteSourceSize</key>
			<string>{178, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 894}, {138, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 279}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{197, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1176}, {199, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {181, 279}}</string>
			<key>spriteOffset</key>
			<string>{11, -0}</string>
			<key>spriteSize</key>
			<string>{181, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 1175}, {183, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {201, 279}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{201, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 1175}, {203, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {203, 279}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{203, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{608, 1175}, {205, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {203, 279}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{203, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{816, 1175}, {205, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {201, 279}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{201, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1463}, {203, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {203, 279}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{203, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 1463}, {205, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {199, 279}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{199, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{421, 1463}, {201, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {181, 279}}</string>
			<key>spriteOffset</key>
			<string>{11, -0}</string>
			<key>spriteSize</key>
			<string>{181, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{629, 1463}, {183, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {201, 279}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{201, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{821, 1463}, {203, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {203, 279}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{203, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1759}, {205, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {203, 279}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{203, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 1759}, {205, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {201, 279}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{201, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 1759}, {203, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iena_ferita_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {203, 279}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{203, 279}</string>
			<key>spriteSourceSize</key>
			<string>{203, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{635, 1759}, {205, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nuvola_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {234, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 84}</string>
			<key>spriteSourceSize</key>
			<string>{234, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{640, 895}, {236, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nuvola_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 57}</string>
			<key>spriteSourceSize</key>
			<string>{132, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{640, 988}, {134, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nuvola_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{97, 37}</string>
			<key>spriteSourceSize</key>
			<string>{97, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{639, 1054}, {99, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>GameplaySprite</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>GameplaySprite_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>GameplaySprite_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>